#register-wrapper
  .registrations__header
    .member-header
      %h1.member-header__logo
        = link_to root_path do
          = image_tag "logo.png", class: "member-header__logo__image"
      .member-header__progress
        %li.member-header__progress__active
          %span 会員情報
          .member-header__progress__round-blue
        %li.member-header__progress__text
          %span お届け先情報入力
          .member-header__progress__round
        %li.member-header__progress__text
          %span 完了
          .member-header__progress__round
        .member-header__progress__border
  .main
  .main__single-container
    %h2.main__single-container__head 会員情報登録
    = form_for(@user, url: user_registration_path, html: { class: "registar-form"}) do |f|
      .register-form__content
        .register-form__content__box
          %label.register-form__content__box__label ニックネーム
          %span.register-form__content__box__require 必須
          = f.text_field :nickname, placeholder: "ニックネーム", class: "register-form__content__box--one-field" 
          = render partial: 'devise/shared/error_messages', locals: { column: :nickname, input: @user }

        .register-form__content__box
          %label.register-form__content__box__label メールアドレス
          %span.register-form__content__box__require 必須
          = f.email_field :email, placeholder: "PC携帯どちらでも可",class: "register-form__content__box--one-field"
          = render partial: 'devise/shared/error_messages', locals: { column: :email, input: @user }
        
          .register-form__content__box
            %label.register-form__content__box__label パスワード
            %span.register-form__content__box__require 必須
            = f.password_field :password, placeholder: "７文字以上の半角英数字", class: "register-form__content__box--one-field"
            %p.register-form__content__box--text2 ※英字と数字の両方を含めて設定してください
            = render partial: 'devise/shared/error_messages', locals: { column: :password, input: @user }

          .register-form__content__box
            %label.register-form__content__box__label パスワード（確認）
            %span.register-form__content__box__require 必須
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "確認のため、もう一度入力してください", class: "register-form__content__box--one-field"
            = render partial: 'devise/shared/error_messages', locals: { column: :password_confirmation, input: @user }

        .register-form__content__box
          %label.register-form__content__box__label  お名前（全角）
          %span.register-form__content__box__require 必須
          .registar-form__content__box--two-field
            = f.text_field :last_name, placeholder: "例）山田", class: "two-field-a"  
            = f.text_field :first_name, placeholder: "例) 太郎", class: "two-field-b"
          = render partial: 'devise/shared/error_messages', locals: { column: :last_name, input: @user }
          = render partial: 'devise/shared/error_messages', locals: { column: :first_name, input: @user }

        .register-form__content__box
          %label.register-form__content__box__label  フリガナ（全角）
          %span.register-form__content__box__require 必須
          .registar-form__content__box--two-field
            = f.text_field :last_kana, placeholder: "例）ヤマダ", class: "two-field-a"  
            = f.text_field :first_kana, placeholder: "例) タロウ", class: "two-field-b" 
          = render partial: 'devise/shared/error_messages', locals: { column: :last_kana, input: @user }
          = render partial: 'devise/shared/error_messages', locals: { column: :first_kana, input: @user }

        .register-form__content__box
          %label.register-form__content__box__label 生年月日
          %span.register-form__content__box__require 必須
          .register-form__content__box__birthday
            != sprintf(f.date_select(:birthday,use_month_numbers:true, prompt:"--", start_year:Time.now.year, end_year:1920, date_separator:'%s'),'年','月')+'日'
          = render partial: 'devise/shared/error_messages', locals: { column: :birthday, input: @user }
        .register-form__content__submit
          = f.submit "次へ進む", class: "single-move-button"  
