#register-wrapper
  .registrations__header
    .member-header
      %h1.member-header__logo
        = link_to root_path do
          = image_tag "logo.png", class: "member-header__logo__image"
      .member-header__progress
        %li.member-header__progress__active
          %span 会員情報
          .member-header__progress__round-blue
        %li.member-header__progress__text
          %span お届け先情報入力
          .member-header__progress__round
        %li.member-header__progress__text
          %span 完了
          .member-header__progress__round
        .member-header__progress__border
  .container
    .field-contents
      .field-contents__title
        %h2 会員情報入力
    = form_for(@user, url: user_registration_path, html: { class: "registar-form"}) do |f|
      = render "devise/shared/error_messages", resource: @user
      .field-contents__form
        .field-contents__form__box
          .field-contents__form__box__label
            = f.label :ニックネーム
            %span.field-contents__form__box__require 必須
            %br/
          .register-form
            = f.text_field :nickname, placeholder: "例) フリマ太郎"
        .field-contents__form__box
          .field-contents__form__box__label
            = f.label :メールアドレス
            %span.field-contents__form__box__require 必須
            %br/
          .field__form
            = f.email_field :email, utocomplete: "email", placeholder: "PC・携帯どちらでも可"
        .field-contents__form__box
          .field-contents__form__box__label
            = f.label :パスワード
            %span.field-contents__form__box__require 必須
            %br/
          .field__form
            = f.password_field :password, placeholder: "7文字以上の半角英数字"
        .field-contents__form__box
          .field-contents__form__box__label
            = f.label :パスワード確認
            %span.field-contents__form__box__require 必須
            %br/
          .filed__form
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
        .nav
          .nav__title
            本人確認
          .nav__text
            安全・安心にご利用いただくために、お客さまの本人情報のご登録にご協力ください。他のお客さまに公開されることはありません。
        .field-contents__form__box
          .field-contents__form__box__label
            = f.label :氏名
            %span.field-contents__form__box__require 必須
          .field__form
            = f.text_field :last_name, autocomplete: "last_name", placeholder: "例）山田"
          .field__form
            = f.text_field :first_name, autocomplete: "first_name", placeholder: "例）太郎"
        .field-contents__form__box
          .field-contents__form__box__label
            = f.label :氏名カナ
            %span.field-contents__form__box__require 必須
          .field__form
            = f.text_field :last_kana, autocomplete: "last_kana", placeholder: "例）ヤマダ"
          .field__form
            = f.text_field :first_kana, autocomplete: "first_kana", placeholder: "例）タロウ"
        .field-contents__form__box
          .field-contents__form__box__label
            = f.label :birthday 
            %span.field-contents__form__box__require 必須
          .field__birthday
            != sprintf(f.date_select(:birthday, prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:Time.now.year - 120, date_separator:'%s'),'年','月')
            .field__birthday--day
              日
            .nav__information.personal
              ※本人情報は正しく入力してください。会員登録後、修正いただく場合にはお時間を頂く場合があります。
            .nav__information 
              「次へ進む」のボタンを押すことにより、
              = link_to "#", class: "confirmation__link" do
                利用規約
              .nav__information--center
                に同意したものとみなします。
        .actions
          = f.submit "次へ進む", class: "next__btn", id: "next__btn", data: {disable_with: "処理中..."}
        .nav__personal--information
          = link_to "#", class: "nav__personal--information--link" do
            本人情報の登録について＞
        .nav__privacy--information
          This site is protected by reCAPTCHA and the Google
          = link_to "#", class: "nav__privacy--information--link" do
            Privacy Policy
          and
          = link_to "#", class: "nav__privacy--information--link" do
            Terms of Service
          apply.
  .registration__footer
