.single-container
  .single-header
  .single-main
    .field__contents-title
      %h2 会員情報入力
      = form_for(@user, url: user_registration_path, html: { class: "registar-form"}) do |f|
        = render "devise/shared/error_messages", resource: @user
        .registration-form__content
          .registration-form__content__box
            = f.label :ニックネーム
            %span.registration-form__content__box__require 必須
            %br/
            = f.text_field :nickname, placeholder: "例) フリマ太郎"
          .registration-form__content__box
            = f.label :メールアドレス
            %span.registration-form__content__box__require 必須
            %br/
            = f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
          .registration-form__content__box
            = f.label :パスワード
            %span.registration-form__content__box__require 必須
            %br/
            = f.password_field :password, placeholder: "7文字以上の半角英数字"
          .registration-form__content__box
            = f.label :パスワード確認
            %span.registration-form__content__box__require 必須
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
          .registration-form__content__box
            = f.label :"お名前(全角)"
            %span.registration-form__content__box__require 必須
          = f.text_field :last_name, placeholder:"例) 山田"
          = f.text_field :first_name, placeholder:"例) 彩"
          .registration-form__content__box
            = f.label :"お名前カナ(全角)"
            %span.registration-form__content__box__require 必須
          = f.text_field :last_kana, placeholder:"例) ヤマダ"
          = f.text_field :first_kana, placeholder:"例) アヤ"
          .registration-form__content__box
            = f.label :"生年月日"
            %span.registration-form__content__box__require 必須
            %br
              .birthday-select-wrap
                = raw sprintf(f.date_select(:birthday, with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
              .clearfix
          .registration-form__content__submit
            = f.submit "次へ", class: "next__btn", id: "next__btn", data: {disable_with: "処理中..."}
          .nav__personal--information
            = link_to "#", class: "nav__personal--information--link" do
              本人情報の登録について＞
          .nav__privacy--information
            This site is protected by reCAPTCHA and the Google
            = link_to "#", class: "nav__privacy--information--link" do
              Privacy Policy
            and
            = link_to "#", class: "nav__privacy--information--link" do
              Terms of Service
            apply.
  .registration__footer
