.buy
  .wrapper
  =render "items/header"
  - if @user.card.present?
    .main
      .main-item
        .main-item__content
          .main-item__content--form
            .itembox
              %h2.itembox__name
                = @item.name.truncate(30, omission: '...')
                .itembox__image
                .mini-image
                  .mini-images
                    =image_tag @item.images[0].image.url
              .itembox__price
                %span
                  ¥
                  = @item.price.to_s(:delimited)
                .itembox__price--detail
                  %span
                    (税込)
                  %span
                    送料込み
    .card-container
      .card-wrapper
        %h2.card-wrapper__title
          購入内容の確認
          = image_tag "visa-card.png"
          %h3 カード番号
          %p.creditcard-info__number
            = "**** **** **** " + @card_info.last4
          %h3 有効期限 月 / 年
          %p.creditcard-info__period 
            = @exp_month + " / " + @exp_year
          .creditcard-info__period
            = button_to "このカードで買う", buy_card_path(@item.id),method: :get ,class: "btn-card", data: { confirm: 'この商品を購入してよろしいですか?',cancel: 'やめる',commit: '購入する',  disable_with: "処理中..."}, title: '購入確認'
            = button_to "トップページへ", root_path, method: :get, class: "btn-card"
  - else
    .item_none_btn
      .purchese-btn
        .messages
          購入するにはクレジットカードを登録してください
      = form_tag(action: :pay, method: :post) do
        %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,"data-text": "クレジットカード登録" ,"data-key": "pk_test_07badb8acc00722abed1baf3",}
  = render "items/footer"