%header.pcHeader
  .headerInner
    .mainHeader
      %h1.icon
        = link_to image_tag("logo.png",width: "140", height: "41"), root_path 
      .searchBox
        = form_tag search_items_path, method: :get do 
          = text_field_tag :key, params[:key], placeholder: "キーワードから探す", class: "searchBox--input", id: "searchInput"
          %button{type: "submit"}
            .searchBox__icon
              = image_tag("icon-search 1.png",width: "20",height: "20")
      %ul.resultLists
    .nav
      %ul.listsLeft
        %li.listsLeft__item.listLeft__item--first
          = link_to "カテゴリー", root_path, id: "catBtn"
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree__item
        %li.listsLeft__item
          = link_to "ブランド", root_path, id: "brandBtn"
          %ul.brandsPulldown.displayNone

      %ul.listsRight
        - if user_signed_in?
          %h2 ログインしています
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.listsRight__item.listsRight__item--login
            = link_to "ログイン", new_user_session_path
          %li.listsRight__item.listsRight__item--new
            = link_to "新規会員登録", new_user_registration_path