.sell
  %header.sell-header
    = link_to root_path do
      = image_tag 'logo.png', alt: 'mercari', height: '49', width: '185'

  %main
    %section.sell-container
      = form_for @item do |f|


        .sell-container__content
          .sell-title
            %h3.sell-title__text
              出品画像
              %span.sell-title__require
                必須
          .sell-container__content__max-sheet 最大10枚までアップロードできます
          .sell-container__content__upload
            .sell-container__content__upload__items
              .sell-container__content__upload__items__box
                #image-box
                  #previews
                    - if @item.persisted?
                      - @item.images.each_with_index do |image, i|
                        = image_tag image.url.url, data: { index: i }, width: "100", height: '100'
                  = f.fields_for :images do |image|
                    .js-file_group{"data-index" => "#{image.index}"}
                      = image.file_field :url, class:'js-file'
                      %span.js-remove 削除



        .sell-container__content
          .sell-title
            %h3.sell-title__text
              商品名
              %span.sell-title__require
                必須
          = f.text_field :name, {class:'sell-container__content__name', required: "required", placeholder: '商品名（必須 40文字まで)'}
          .error-messages#error-name

          .sell-title
            %h3.sell-title__text
              商品の説明
              %span.sell-title__require
                必須
          = f.text_area :detail,{class: 'sell-container__content__detail', required: "required", rows: '7', maxlength: '1000'}

          .sell-container__content__word-count
            %span#word-count
              0
            &#47;1000
          .error-messages#error-text


        .sell-container__content
          %h3.sell-sub-head 商品の詳細
          .sell-container__content__details
            .sell-title
              %h3.sell-title__text
                カテゴリー
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :category_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :category_id, Category.all, :id, :name, {prompt: "選択して下さい"},{ class: 'sell-collection_select__input', id: 'category-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-category
          
            .sell-title
              %h3.sell-title__text
                ブランド
                %span.sell-title__require
                  任意
            .sell-collection_select
              = f.label :cbrand_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :brand_id, Brand.all, :id, :name, {prompt: "選択して下さい"},{ class: 'sell-collection_select__input', id: 'brand-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-brand

            .sell-title
              %h3.sell-title__text
                商品の状態
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :condition_id, {class: 'sell-collection_select__label'} do
                = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'condition-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-condition


        .sell-container__content
          %h3.sell-sub-head
            %p 配送について
            = link_to '/delivery',target: '_blank',class: 'sell-sub-head__guides-link' do
              %i.far.fa-question-circle
          .sell-container__content__delivery
            .sell-title
              %h3.sell-title__text
                配送料の負担
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :charge_id, class: 'sell-collection_select__label' do
                = f.collection_select :charge_id, Charge.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'charge-select', required: "required"}

                %i.fas.fa-chevron-down
            .error-messages#error-deliverycost

            .sell-title
              %h3.sell-title__text
                発送元の地域
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :prefecture_id, class: 'sell-collection_select__label' do
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'pref-select', required: "required"}
                %i.fas.fa-chevron-down
            .error-messages#error-pref

            .sell-title
              %h3.sell-title__text
                発送までの日数
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.label :day_id, class: 'sell-collection_select__label' do
                = f.collection_select :day_id, Day.all, :id, :name, {prompt: '選択して下さい'},{ class: 'sell-collection_select__input', id: 'day-select', required: "required"}

                %i.fas.fa-chevron-down
            .error-messages#error-delivery_days


        .sell-container__content
          %h3.sell-sub-head
            %p 販売価格(300〜9,999,999)
            = link_to '/price',target: '_blank', class: 'sell-sub-head__guides-link' do
              %i.far.fa-question-circle
          .sell-container__content__price
            .sell-title
              %h3.sell-title__text
                販売価格
                %span.sell-title__require
                  必須
            .sell-container__content__price__form
              = f.label :price, class: 'sell-container__content__price__form__label' do
                ¥
                = f.number_field :price, {placeholder: '0', value: '', autocomplete:"off", class: 'sell-container__content__price__form__box', required: "required"}
          .error-messages#error-price

          .submit-btn
            = f.submit '出品する', class: 'submit-btn__sell-btn'
            = link_to 'もどる', root_path, class: 'submit-btn__return-btn'