.wrapper
  .user-card__content
    %h2 クレジットカード情報入力
    = form_tag(cards_path, method: :post, action: "create", id: 'card__form', class: "card__form", name: "inputForm") do
      .card__form__content
        .card__form__content--number.form_space
          = label_tag "card_number", "カード番号"
          %span 必須
          = text_field_tag "number", "", class: "number", id: "card_number", placeholder: "半角数字のみ" ,maxlength: "16", value: "4242424242424242"
          %ul.card__form__content--number--cards
            %li
              = image_tag "https://pcweb-assets.mercdn.net/assets/img/card/visa.svg?238737266",size: "40x20"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?238737266",size: "34x20"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?238737266",size: "30x20"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?238737266",size: "32x20"
            %li
              = image_tag "https://upload.wikimedia.org/wikipedia/commons/3/30/American_Express_logo.svg",size: "32x20"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?238737266",size: "32x20"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?238737266",size: "32x20"
        .card__form__content--expired.form_space
          = label_tag "card_expired", "有効期限"
          %span 必須
          .card__form__content--expired--month
            .card__form__content--expired--month__select-box
              %select{name: "exp_month", class: "select--item",id: "exp_month", type: "text"}
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
            %span 月
          .card__form__content--expired--year
            .card__form__content--expired--year__select-box
              %select{name: "exp_year", class: "select--item",id: "exp_year", type: "text"}
                %option{value: ""} --
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
                %option{value: "2030"}30
            %span 年
        .card__form__content--security
          = label_tag "security", "セキュリティコード"
          %span 必須
          = text_field_tag "security","",id:"cvc",class:"security",name: "cvc",placeholder: "カード背面4桁もしくは3桁の番号",value: "123"
        .card__form__content--help.form_space
          カード裏面の番号とは？
        .card__form__content--btn{id: "card_token"}
          = submit_tag "次へ進む", id:"token_submit", class: "btn-red"