.Mypage-main
  .Mypage-main__contents
    %section.Register
      %h2.Register__head クレジットカード情報入力
      .Register__form
        .Register__form__content
          %p.Register__form__content__card
            ※登録可能カード
            %br
            Visa , Mastercard , American Express
            %br
            JCB、Diners Club、Discover
            %br
          = form_with url: cards_path, method: :post, id: "charge-form", name: "inputForm" do |f|
            .Register__form__content__group
              %label.Register__form__content__group__label カード番号
              %span.Register__form__content__group__necessary 必須
              = f.text_field :number, name: "card_number", id:"card_number", type: "text", placeholder: '半角数字のみ', class: 'Register__form__content__group__input', maxlength: "16"
            .Register__form__content__group
              %label.Register__form__content__group__label カード番号
              %span.Register__form__content__group__necessary 必須
              = f.text_field :number, name: "card_number", id:"card_number", type: "text", placeholder: '半角数字のみ', class: 'Register__form__content__group__input', maxlength: "16"
            .Register__form__content__group
              %label.Register__form__content__group__label 有効期限
              %span.Register__form__content__group__necessary 必須
              %br
              .Register__form__content__group__half
                = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]], {}, class: 'Register__form__content__group__half__select', name: "exp_year", id:"exp_month"
                = icon('fas', 'angle-down')
                %span 月
              .Register__form__content__group__half
                = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029],["30",2030]], {}, class: 'Register__form__content__group__half__select', name: "exp_year", id:"exp_year"
                = icon('fas', 'angle-down')
                %span 年
            #card_token
            .Register__form__content__group
              %label.Register__form__content__group__label セキュリティコード
              %span.Register__form__content__group__necessary 必須
              = f.text_field :cvc, name: "cvc", id:"cvc", class:"cvc", type: "text", placeholder: 'カード背面4桁もしくは3桁の番号', class: 'Register__form__content__group__input', maxlength: "4"
              = f.submit "追加する", class: "Register__form__content__btn",  id: "token_submit"